body{
    background: #000;
    color: #000;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(space3.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

}
nav button{
    border: 0;
    outline: 0;
    font-size: 25px;
    border-radius: 4px;
    text-align:right;
    cursor: pointer;
}
.header-content{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
}
.header-content h1{
    font-size: 50px;
    /* line-height: 12px;
    font-weight: 300;
    max-width: 350px; */
    color: aliceblue;


}
.feature{
    padding: 50px 12%;
    font-size: 20px;

}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
    color: aliceblue;
}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20%;

}
p{
    color: aliceblue;
}

